<html>

<head>
  <title>Stock Query App - MVP</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h3><a href="javascript:history.back()">Go Back</a></h3>

  <h2>Results for stock query</h2>


  <%if (longestBullish.length > 1) { %>
    <% var bullish = longestBullish.map(bull => {
    return  '<p>' + 'Between ' + bull.starting + ' and ' + bull.ending + '.' + '</p>'
    }).join('') -%>
  <%- '<h3>' + 'There were ' + longestBullish.length + ' equally long (' + longestBullish[0].length + ' days) bullish trends.' + '</h3>' %>
  <%- '<p>' + 'They were:' + '</p>' %>
  <%- bullish %>
  <% } else { %>
    <%- '<h3>' + 'Longest bullish trend was ' + longestBullish[0].length + ' days in a row between ' + longestBullish[0].starting + ' and ' + longestBullish[0].ending + '.' + '</h3>' %>
  <% } %>

  <br/>
  <h3>Highest trading volume and the most significant stock price change within a day.</h3>
  <table>
    <tr>
      <th class="rightpad">Date</th>
      <th class="rightpad">Volume</th>
      <th colspan="3">Price Change</th>
    </tr>
    <% var tablelines = volumeAndPrice.map(line => {
      return  '<tr>' + '<td  class="rightpad">' + line.date + '</td>' + '<td  class="rightpad">' + line.volume + '</td>' + '<td>' + line.priceChange + '$' + '</td>' + '<td>' + '|' + '</td>' + '<td>' + line.priceChangePercent + '</td>' + '</tr>'
    }).join('') -%>
    <%- tablelines %>
  </table>

  <br/>
  <h3>Best opening price compared to 5 days simple moving average.</h3>
  <table>
    <tr>
      <th class="rightpad">Date</th>
      <th>Price Change</th>
    </tr>
    <% var smatablelines = comparedToSMA.map(line => {
      return  '<tr>' + '<td  class="rightpad">' + line.date + '</td>' + '<td>' + line.bestOpening + '%' + '</td>' + '</tr>'
    }).join('') -%>
    <%- smatablelines %>
  </table>


  <script>
    const fileInput = document.getElementById('csvfile');
  </script>

</body>

</html>